<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4c1701;" >
    <div class="container">
      <%= link_to root_path, data: {"turbolinks" => false}, class: 'rogo' do %>
        <%= image_tag 'logo.png', size: "55x55" %>
        <span class="navbar-brand">Mengatari</span>
      <% end %>
      <!--<a href="/" class="rogo">< %= image_tag 'logo.png', size: "55x55" %></a>-->
      <!--<a class="navbar-brand" href="/"><span>Mengatari</span></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to '投稿する', new_post_path, class: 'btn btn-outline-warning text-light mr-2 font-weight-bold' %>
            </li>
            <li class="nav-item">
              <%= link_to 'タイムライン', posts_path, class: 'nav-link text-light far fa-list-alt' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-light far fa-address-card' %>
            </li>
            <li class="nav-item">
              <%= link_to 'カレンダー', user_memos_path(current_user.id), class: 'nav-link text-light far fa-calendar-alt' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light far fa-caret-square-down' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to ' タイムライン', posts_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to " 新規登録", new_user_registration_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to " ログイン", new_user_session_path, class: 'nav-link text-light' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>